NodeRedFlow.json.json
[{"id":"1a31c66a.b648da","type":"function","z":"d9ef5b2e.cd4a78","name":"PreToken","func":"global.set(\"date\",msg.payload.date)\nglobal.set(\"sp\",msg.payload.sp)\nglobal.set(\"dir\",msg.payload.dir)\n\nvar apikey=\"K8mOKDeMK8MxeeOLDyGGH97DxpudUTd_AGp60TZFLwwB\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":300,"wires":[["18958491.5f9cfb"]]},{"id":"18958491.5f9cfb","type":"http request","z":"d9ef5b2e.cd4a78","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":300,"wires":[["f37af397.6fb36","da086e0f.1d507"]]},{"id":"205efc46.d520d4","type":"debug","z":"d9ef5b2e.cd4a78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":60,"wires":[]},{"id":"f37af397.6fb36","type":"function","z":"d9ef5b2e.cd4a78","name":"Pre Prediction","func":"var dat = global.get('date')\nvar sp = global.get('sp')\nvar dir = global.get('dir')\n\nvar date = Date.parse(dat); \n\nvar token=msg.payload.access_token\nvar instance_id=\"d5cbda19-4748-4443-ae76-e89896be3af2\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload = {\"fields\": [\"Date/Time\",\"Wind Speed (m/s)\",\"Wind Direction (°)\"],\"values\": [[date,sp,dir]]}\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":220,"wires":[["389ccfd8.38b68"]]},{"id":"389ccfd8.38b68","type":"http request","z":"d9ef5b2e.cd4a78","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/d5cbda19-4748-4443-ae76-e89896be3af2/deployments/fc2d9f37-77d6-4203-a0bc-b45bea5de623/online","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":280,"wires":[["7b3e29e1.8b5d28","51b54fa9.a849d"]]},{"id":"90f1186.c9815e8","type":"ui_form","z":"d9ef5b2e.cd4a78","name":"","label":"","group":"64419fad.a3e9e","order":1,"width":0,"height":0,"options":[{"label":"Enter Date and Time in the format mm/dd/yy hh:mm:ss","value":"date","type":"text","required":true,"rows":null},{"label":"Enter wind speed","value":"sp","type":"number","required":true,"rows":null},{"label":"Enter wind Direction","value":"dir","type":"number","required":true,"rows":null}],"formValue":{"date":"","sp":"","dir":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":340,"wires":[["b6d1dfdd.1294f","1a31c66a.b648da"]]},{"id":"8cc6e37b.1d84e","type":"ui_text","z":"d9ef5b2e.cd4a78","group":"64419fad.a3e9e","order":3,"width":0,"height":0,"name":"","label":"Predicted Wind Energy Output:","format":"{{msg.payload}}","layout":"row-left","x":790,"y":120,"wires":[]},{"id":"51b54fa9.a849d","type":"function","z":"d9ef5b2e.cd4a78","name":"","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;\n","outputs":1,"noerr":0,"x":550,"y":100,"wires":[["205efc46.d520d4","8cc6e37b.1d84e"]]},{"id":"da086e0f.1d507","type":"debug","z":"d9ef5b2e.cd4a78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":400,"wires":[]},{"id":"7b3e29e1.8b5d28","type":"debug","z":"d9ef5b2e.cd4a78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":360,"wires":[]},{"id":"238b6906.577166","type":"debug","z":"d9ef5b2e.cd4a78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":350,"y":480,"wires":[]},{"id":"b6d1dfdd.1294f","type":"function","z":"d9ef5b2e.cd4a78","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":400,"wires":[["238b6906.577166"]]},{"id":"64419fad.a3e9e","type":"ui_group","z":"","name":"Predictor","tab":"4a9873ef.233acc","order":1,"disp":true,"width":"10","collapse":false},{"id":"4a9873ef.233acc","type":"ui_tab","z":"","name":"Wind Energy Prediction","icon":"dashboard","disabled":false,"hidden":false}]